@import url(style-institucion.css);

*{
	font-family:'Open Sans';
	
}
li{
	list-style: none;
}
/*Para el fonfo main*/
body{
	background-color: cadetblue;
}

/*Para el header*/

.imgpre {
	background-image: url(../img/fondomejorado.png);
	height: 10em;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	position: relative;
}
#t-page {
	color:#daa520;
	font-size: 4vw;
	text-shadow: 6px 4px 4px black;
	font-family: 'Patua One';
	letter-spacing: 4px;
	word-spacing: 10px;
	font-weight: bold;
}

.logo {
	height: 8em;
	width: 8em;
}

.navbar {
	position: -webkit-sticky; /* Safari */
  	position: sticky;
  	top: 0;
	z-index: 1;
	background-color: #daa520;
	box-shadow: -1px 1px 11px 1px rgba(0,0,0.0.7);

}
.navbar ul li a{
	color: #fff !important;
	text-shadow: 3px 3px 5px black;
	*background-color: cadetblue;
	border-radius: 4px;
	position: relative;
}
.navbar ul li a::before{
	content:"";
	display: block;
	width:0;
	height: 3px;
	background-color: #fff;
	position: absolute;
	left: 0;
	bottom: 0;
	transition: all 0.5s ease-out;
}

.navbar ul li a:hover::before{
	width: 100%
}
.navbar ul li a:visited{
	width: 100%
	background:black;
}

.navbar ul li ul{
	background-color: #efb810;
}
.navbar ul li ul li a:hover{
	background-color: silver;
}


.navbar ul li a img{
	height: 2em;

}
.navbar ul li a img:hover{
	border-radius: 50%;
	border: 4px solid #bfc7c1;

}


/*Para el menu
.n2:hover{
	border-bottom: 2px solid #bfc7c1;
	border-top: 2px solid #bfc7c1;
}*/

/*Para el logo de facebook*/
.logo-face{
	background-color: blue;
	position: relative;
    left: 90%;
    padding: 10px;
    color: white;
    font-family: fantasy;
    /* font-size: xx-large; */
    font-weight: bold;
    border-radius: 5px;
}



.lmenu {
	margin-left: 4em;
	text-transform: uppercase;
}

.submen{
	background-color: #daa520;
}

.dropdown-item:hover{
	color: #daa520 !important;
}
/**Fin de header**/
/**Para el main**/

.des-comunicacion {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
	color: white;
	-ms-filter: brightness(110%);
-webkit-filter: brightness(110%);
-moz-filter: brightness(110%);
-o-filter: brightness(110%);
filter: brightness(110%);
	
}

.des-comunicacion h2 a {
	font-size: 6vw;
	color:#007bff;
}

.fragmento-comunicado{
	color: #2020de;
	font-size: 25px;
	font-style: italic;
}

.des-comunicacion h2 a:hover {
	color: #2020de;
	text-decoration: none;
}

.des-comunicacion h2 p{
	font-size: 1vw;
}


.se-comunicado:hover {
	filter: saturate(180%);
	transition: all .5s ease-in-out;
	cursor: pointer;
		
}

.img-destacada {
	box-shadow: 2px 2px 2px 2px #888;
	width: 100%;
}

/*seccion de Especialidades*/

/*Imagen de especialidad*/
.img-especialidad{
	height: 221px;
	border-radius: 30px;
}
.lo {
	background-image: url(../img/carrera.png);
	height: 268px;
}
/*Carta de especialidad*/
.card-especialidad {
	
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=124, Color=#242929)";/*IE 	8*/
	-moz-box-shadow: 4px 6px 3px 2px rgba(36,41,41,0.5);/*FF 3.5+*/
	-webkit-box-shadow: 4px 6px 3px 2px rgba(36,41,41,0.5);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
	box-shadow: 4px 6px 3px 2px rgba(36,41,41,0.5);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#242929); /*IE 5.5-7*/
	
	border-radius: 10px;
	
	/**Fondo**/
	background-color: white;
	color: rgb(51, 51, 51);
}
/**Para el titulo de la especialidad**/
.t-Especialidad {
	color: #ffc107;
	text-transform: uppercase;
	font-family: fantasy;
	letter-spacing: 2px;
	font-size: 16px;
	border-bottom: 2px solid brown;
	
}
/**Texto del cuerpo la especialidad**/

.text-cuerpo-especialidad {
	text-align: justify;
	color: rgb(51, 51, 51);
	
}
/**Para el boton ver mas**/

.btn-mas {
	text-decoration: none;
	border: 3px solid #ffc107;
	*background-color: burlywood;
	color: #ffc107;
	transition: all 0.6s ease-out;
	
}
.btn-mas:hover {
	text-decoration: none;
	background-color: #ffc107;
	*border: 3px solid burlywood;
	color: white;
	
}

.forma-hoja{
	-webkit-border-radius: 9px 400px 0 500px;/*Safari, Chrome*/
	-moz-border-radius: 9px 400px 0 500px;/*Firefox*/
	border-radius: 9px 400px 0 500px;
	background-color: brown;
	box-shadow: -1px 11px 26px 26px rgba(0,0,0,0.7);
}


/**Para el footer**/
footer{
	color: white;
	background-color: black;
	text-align: justify;
	padding-top: 10px;
	padding-bottom: 20px;
}
.t-footer {
	text-transform: uppercase;
	margin-top: 5px;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 3px;
}
.list-contacto{
	list-style: none;
	
}
.redes-sociales {
	padding: 5px;
	
}


/**Para Response**/
@media only screen and (max-width: 1300px) {
  .lmenu {
	margin-left: 2em;
	}
}
@media only screen and (max-width: 985px) {
  .lmenu {
	margin-left: 0.5em;
	}
}
@media only screen and (max-width: 860px) {
  .lmenu {
	margin-left: 0em;
	font-size: 12px;
	}
}
@media only screen and (max-width: 790px) {
  .lmenu {
	margin-left: 0em;
	}
  .icono-home {
	margin-left: 0em;
	}
}
@media only screen and (max-width: 550px) {
  .fragmento-comunicado {
	display: none;
	}
  .imgpre {
	height: 7em;
	}
   .logo {
	height: 5em;
	width: 5em;
	
	}	
}